/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}
.index{
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
.main-img{
  width: 150px;
  height: 150px;
  float: left;
}
.index img{
  width: 90px;
  height: 90px;
}
.jumbor{
  width: 100%;
  height: 120px;
  background: #eee;
  color: #000;
}
.jumbor input{
  width: 80%;
  height: 40px;
  line-height: 40px;
  border:1px solid #e2e3e2;
}
.jumborh{
  font-size: 20px;
  padding-top: 20px;
}
button{
  width: 100px;
  height: 40px;
  margin-left: 10px;
  background: #40ee00;
  border: none;
  color: #fff;
}
